@using BOL;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Products Details";
    List<Product> plist = this.ViewData["products"] as List<Product>;
}

@{
     <h1>Products</h1>

    foreach(Product item in plist){
        @* <table border="2px"  color="blue" border-left="3px" border-right="3px">
           
            <tr>
                <th>ID</th>
                <th>Pname</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>@item.Id </td>
                <td>@item.Pname </td>
                <td>@item.price </td>
            </tr>
        </table> *@
    <div>
        <table border="2px" style="border: 2px solid blue; border-left: 3px solid blue; border-right: 3px solid blue;">
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; border: 1px solid blue;">ID</th>
                <th style="padding: 8px; border: 1px solid blue;">Pname</th>
                <th style="padding: 8px; border: 1px solid blue;">Price</th>
            </tr>
            <tr>
                <td style="padding: 8px; border: 1px solid blue;">@item.Id </td>
                <td style="padding: 8px; border: 1px solid blue;">@item.Pname </td>
                <td style="padding: 8px; border: 1px solid blue;">@item.price </td>
            </tr>
        </table>
        </div>

    }
 
}
